@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[#ece2d0] bg-[#130918];
  }

  input {
    @apply w-full max-w-md rounded-xl border border-light bg-[#ece2d0] text-[#130918] px-3 py-2 text-sm shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow placeholder:text-dark;
  }

  .item-icon-wrap {
    @apply border-2 rounded-md;

    &.common {
      @apply border-itemGray/50 bg-itemGray/10;
    }
    &.uncommon {
      @apply border-itemGreen/50 bg-itemGreen/10;
    }
    &.rare {
      @apply border-itemBlue/50 bg-itemBlue/10;
    }
    &.epic {
      @apply border-itemPurple/50 bg-itemPurple/10;
    }
    &.legendary {
      @apply border-itemOrange/50 bg-itemOrange/10;
    }
  }

  .item-tag {
    @apply px-3 pt-[2px] pb-1 rounded text-xs font-semibold uppercase tracking-wide border inline-block;

    &.common {
      @apply bg-itemGray/25 text-[#d1d5db] border-itemGray/50;
    }
    &.uncommon {
      @apply bg-itemGreen/25 text-[#86efac] border-itemGreen/50;
    }
    &.rare {
      @apply bg-itemBlue/25 text-[#93c5fd] border-itemBlue/50;
    }
    &.epic {
      @apply bg-itemPurple/25 text-[#d8b4fe] border-itemPurple/50;
    }
    &.legendary {
      @apply bg-itemOrange/25 text-[#fdba74] border-itemOrange/50;
    }
  }
}
