@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-siteBackground bg-cover bg-fixed bg-center text-[#ece2d0];
  }

  input {
    @apply w-full max-w-md rounded-xl border border-light bg-[#ece2d0] px-3 py-2 text-sm text-[#130918] shadow-sm placeholder:text-dark focus:outline-none focus:ring-2 focus:ring-yellow;
  }

  .item-icon-wrap {
    @apply rounded-md border-2;

    &.common {
      @apply border-itemGray/50;
      background: linear-gradient(
        to right,
        rgba(146, 146, 146, 0.5) 0%,
        rgba(146, 146, 146, 0.125) 100%
      );
    }
    &.uncommon {
      @apply border-itemGreen/50;
      background: linear-gradient(
        to right,
        rgba(100, 181, 120, 0.5) 0%,
        rgba(100, 181, 120, 0.125) 100%
      );
      border: 1px solid rgb(100, 181, 120);
    }
    &.rare {
      @apply border-itemBlue/50;
      background: linear-gradient(
        to right,
        rgba(79, 168, 219, 0.5) 0%,
        rgba(79, 168, 219, 0.125) 100%
      );
    }
    &.epic {
      @apply border-itemPurple/50;
      background: linear-gradient(
        to right,
        rgba(182, 73, 154, 0.5) 0%,
        rgba(182, 73, 154, 0.125) 100%
      );
    }
    &.legendary {
      @apply border-itemOrange/50;
      background: linear-gradient(
        to right,
        rgba(255, 158, 0, 0.19) 0%,
        rgba(255, 158, 0, 0.063) 100%
      );
    }
  }

  .item-tag {
    @apply inline-block rounded border px-3 pb-1 pt-[2px] text-xs font-semibold uppercase tracking-wide;

    &.common {
      @apply border-itemGray/50 bg-itemGray/25 text-[#d1d5db];
    }
    &.uncommon {
      @apply border-itemGreen/50 bg-itemGreen/25 text-[#86efac];
    }
    &.rare {
      @apply border-itemBlue/50 bg-itemBlue/25 text-[#93c5fd];
    }
    &.epic {
      @apply border-itemPurple/50 bg-itemPurple/25 text-[#d8b4fe];
    }
    &.legendary {
      @apply border-itemOrange/50 bg-itemOrange/25 text-[#fdba74];
    }
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
