---
import Layout from '@layouts/Layout.astro'
import ArcExplorer from '@components/ArcExplorer.tsx'
---

<Layout title="Arcs | ARCindex.app">
  <section class="mt-6">
    <ArcExplorer client:load />
  </section>
</Layout>
