---
import Layout from '@layouts/Layout.astro'
---

<Layout title="ARCindex.app">
  <section class="relative mt-6 h-[500px] overflow-hidden rounded-2xl border border-light">
    <div
      class="absolute left-10 top-10 z-10 mb-3 w-[350px] rounded-2xl border border-light bg-dark/50 p-10 backdrop-blur-sm"
    >
      <h1 class="mb-4 text-4xl font-black">
        Welcome to <span class="italic">A</span>RCIndex.app
      </h1>
      <p class="text-lg">ARCindex.app is a tool for exploring the ARC Raiders game.</p>
    </div>
    <img
      src="https://arcraiders.com/images/features/features-keyart.jpg"
      alt="ARCindex.app"
      class="absolute object-cover"
    />
  </section>
</Layout>
