---
import Layout from '@layouts/Layout.astro'
import ItemExplorer from '@components/ItemExplorer.tsx'
---

<Layout title="Items | ARCindex.app">
  <section class="mt-6">
    <ItemExplorer client:load />
  </section>
</Layout>
