---
import Layout from '@layouts/Layout.astro'
import MapExplorer from '@components/MapExplorer.tsx'
---

<Layout title="Maps | ARCindex.app">
  <section>
    <MapExplorer client:load />
  </section>
</Layout>
