
---
import Layout from '@layouts/Layout.astro';
import WeaponExplorer from '@components/WeaponExplorer.tsx';
---

<Layout title="Items | ARCIndex.app">
  <section class="mt-6">
    <WeaponExplorer client:load />
  </section>
</Layout>
