---
import Layout from '@layouts/Layout.astro'
import WeaponExplorer from '@components/WeaponExplorer.tsx'
import DataDisclaimer from '@components/DataDisclaimer.astro'
---

<Layout title="Items | ARCindex.app">
  <section>
    <WeaponExplorer client:load />
  </section>
</Layout>
