<section class="rounded-xl border border-orange bg-orange/80 p-4 text-center font-medium text-dark">
  <p>
    Howdy Raiders, this data is sourced from MetaForge API and may contain inaccuracies. If you spot
    errors and know the correct values, please report them to <a
      href="mailto:arcindex.app@gmail.com"
      class="underline hover:text-blue">arcindex.app@gmail.com</a
    >
  </p>
</section>
