<footer>
  <div class="container py-20 text-center">
    <p>
      Copyright © 2025 ARCIndex.app. All rights reserved. Made with ❤️ by <a
        href="https://tomgooden.net"
        target="_blank"
        rel="noreferrer">TG</a
      >
    </p>
  </div>
</footer>
