<footer>
  <div class="py-20 pl-64">
    <p>
      Copyright © 2025 ARCindex.app. All rights reserved. Made with ❤️ by <a
        href="https://tomgooden.net"
        target="_blank"
        rel="noreferrer">TG</a
      >
    </p>
  </div>
</footer>
